<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	<!--	{{HTML::style(assets/weixin.css)}}-->
		<link rel="stylesheet" type="text/css" href="css/information.css" />
		<title>请扫二维码</title>
	</head>
	<body style="font-family: '微软雅黑';">
	<div class="main" id="main">
		<div class="head-2">
          	<img src="img/back-1.png" alt="" />
          	<div class="da-yuan"><img src="img/boy.png" alt="" /></div>
          	<div class="xiao-yuan"><img src="img/girl.png" alt="" /></div>     	
        </div>
          
          <div class="erweima"></div>
          <p style="position: relative;top: 54vw;font-size: 5vw;text-align: center;">推广链接:www.gugu.com 
          <a href=""><span style="border-radius: 11px;padding: 4px 8px;background: #9a99ff;color: #fff;background: #9a99f;font-size: 4vw;">复制链接</span></a>	</p>
          
          
      <a href="tj_info.html">  <div class="click-tj">推荐客户详情</div></a>  
	</div>
			
			
			
			
			
			
			
			
			
			<div class="footer" id="footer">
			<ul>
				<a href="index.html"><li>
			
					<img src="img/sy_white.png" />
				</li></a>
				<a href="information.html"><li>
					<img src="img/te_white.png" />
				</li></a>
				<a href="jk1.html"><li>
					<img src="img/jl_white.png" />
				</li></a>
				<a href="tj_info.html"><li>
					<img src="img/tj_purple.png" />
				</li></a>
			</ul>
		</div>
	</body>
		<script type="text/javascript">
		/*中间内容高度*/
		var srceenHeight = window.screen.height;
		var fHeght = document.getElementById('footer').offsetHeight;
		document.getElementById('main').style.height = srceenHeight - fHeght + 2 + 'px';
	</script>

</html>
