<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" />
		<link rel="stylesheet" type="text/css" href="css/shenhe_style.css" />
		<script src="js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="header">
			<span class="topLeft">审核</span>
			<ul class="topRight">
				<li>
					<img src="img/email.png" width="50" class="email" />
					<p>消息通知</p>
				</li>
				<li>
					<div class="touxiang"></div>
					<p>头像</p>
				</li>
				<li><span>退出</span></li>
			</ul>
		</div>
		<div class="main">
			<ul class="main_top">
				<li>昨日通过率:70%</li>
				<li>今日日通过率:70%</li>
			</ul>
			<div class="search">
				<div class="">
					<div class="inputType">
						<div class="input-group">
							<div class="input-group-btn">
								<button type="button" class="btn btn-default dropdown-toggle border-color border-right" data-toggle="dropdown">Action <span class="caret"></span></button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="#">Action</a>
									</li>
									<li>
										<a href="#">Another action</a>
									</li>
									<li>
										<a href="#">Something else here</a>
									</li>
								</ul>
							</div>
							<input type="text" class="form-control border-color">
						</div>

					</div>
				</div>

			</div>
			<button class="btn bgBtn">获取客户</button>
			<div class="oTable table-responsive">

				<div class="col-lg-1 color-e6 all_num">
					总量
				</div>
				<table border="" cellspacing="" cellpadding="" class="table table-bordered main_table">
					<tr>
						<th class="col-lg-1 color-cc">序号</th>
						<th class="col-lg-1 color-e6">姓名</th>
						<th class="col-lg-1 color-cc">性别</th>
						<th class="col-lg-2 color-e6">手机号</th>
						<th class="col-lg-2 color-cc">身份证</th>
						<th class="col-lg-5 color-e6">授权状态</th>
					</tr>
					<tr>
						<td class="color-cc">1</td>
						<td class="color-e6">高强</td>
						<td class="color-cc">男</td>
						<td class="color-e6">12345678912</td>
						<td class="color-cc">123456789123456789</td>
						<td class="color-e6"><img src="img/zhima.png" /><img src="img/family.png" /><img src="img/taobao.png" /><img src="img/jingdong.png" /></td>
					</tr>
					<tr>
						<td class="color-cc">1</td>
						<td class="color-e6">高强</td>
						<td class="color-cc">男</td>
						<td class="color-e6">12345678912</td>
						<td class="color-cc">123456789123456789</td>
						<td class="color-e6"></td>
					</tr>
					<tr>
						<td class="color-cc">1</td>
						<td class="color-e6">高强</td>
						<td class="color-cc">男</td>
						<td class="color-e6">12345678912</td>
						<td class="color-cc">123456789123456789</td>
						<td class="color-e6"></td>
					</tr>
					<tr>
						<td class="color-cc">1</td>
						<td class="color-e6">高强</td>
						<td class="color-cc">男</td>
						<td class="color-e6">12345678912</td>
						<td class="color-cc">123456789123456789</td>
						<td class="color-e6"></td>
					</tr>
					<tr>
						<td class="color-cc">1</td>
						<td class="color-e6">高强</td>
						<td class="color-cc">男</td>
						<td class="color-e6">12345678912</td>
						<td class="color-cc">123456789123456789</td>
						<td class="color-e6"></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="bgDiv"></div>
		<div class="alertInp">
			<div class="alertInp_header">
				<div class="title">数据详情</div>
				<img src="img/close.png" class="havclose" />
			</div>
			<div class="alertInp_main">
				<div class="alertLeft col-lg-8">
					<ul class="infoTop">
						<li>
							<img src="img/family.png" width="60" />
							<span>昵称昵</span>
						</li>
						<li>
							<div class="">花呗</div>
							<div class="">600</div>
						</li>
						<li>
							<div class="">芝麻分</div>
							<div class="">600</div>
						</li>
						<li>
							<div class="">网龄</div>
							<div class="">10</div>
						</li>
						<li>
							<div class="">客户类型</div>
							<div class="">A</div>
						</li>
						<li>
							<div class="">原始数据</div>
							<div class=""></div>
						</li>
					</ul>
					<div class="manInfomation">
						<ul class="people_jiben">
							<li><span>姓名:</span><span>111</span></li>
							<li><span>手机号:</span><span>111</span></li>
							<li><span>身份证号:</span><span>111</span></li>
							<li><span>学历:</span><span>111</span></li>
							<li><span>邮箱号:</span><span>111</span></li>
							<li><span>工作单位:</span><span>111</span></li>
						</ul>

						<table border="" cellspacing="" cellpadding="" class="table-bordered table">
							<tr>
								<th class="col-lg-3">关系</th>
								<th class="col-lg-3">姓名</th>
								<th class="col-lg-6">电话</th>
							</tr>
							<tr>
								<td>父亲</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>母亲</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>配偶</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>朋友</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>公司</td>
								<td></td>
								<td></td>
							</tr>
						</table>
						<ul class="phone_list">
							<li><img src="img/family.png" /></li>
							<li><img src="img/jiben.png" /></li>
							<li><img src="img/jingdong.png" /></li>
						</ul>
					</div>
				</div>
				<div class="alertRight col-lg-4">
					<div class="right_header">审核员:XXXX</div>
					<ul class="chioce_list">
						<li class="chioced">审核记录</li>
					</ul>
					<div class="chioce_main">
						<div class="recordTop">
							<div class=""><span>类型:</span><span>2</span></div>
							<div class=""><span>时间:</span><span class="color-red">2000</span></div>
							<div class=""><span>备注:</span><span>3000</span></div>
						</div>
					</div>
					<div class="right_footer">
						<textarea name="" rows="" cols="" placeholder="填写备注"></textarea>
						<div class="pass_btn btn btn-success">通过</div>
						<div class="nopass_btn btn btn-danger">未通过</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		$('.main_table tr td').click(function() {
			$('.bgDiv').show();
			$('.alertInp').show();
			showDo();
		})

		function showDo() {
			$('.havclose').click(function() {
				$('.bgDiv').hide();
				$('.alertInp').hide();
			})
		}
	</script>

</html>